body {
    font-family:
                'Lucida Sans',
                'Lucida Sans Regular', 
                'Lucida Grande',
                'Lucida Sans Unicode',
                Geneva,
                Verdana,
                sans-serif;
}

#IDE {
    display: grid;
    grid-template-areas:
            'editor buttons'
            'editor preview';
    
    height: 50%;
    overflow: auto;

}

#editor-container {
    padding: 2em;
    border: 1px lightgray solid;
}

#editor {
    outline: none;
}

#right-panel {
    padding: 2em;
    border: 1px lightgray solid;
}

#preview {
    overflow: auto;
    border: 1px lightgray solid;
    height: 100%;
    width: 100%;
}




