* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

body {
    background-color: #fff;
    color: #777;
    line-height: 1.6;
}

html {
    font: 400 15px/20px 'Roboto', "Helvetica Neue", sans-serif;
    letter-spacing: 0.01em;
    overflow: hidden;
}

.title {
    color: rgb(75, 75, 75);
    font-size: 2em;
}

.header {
    padding: 1.5em;
    height: 8em;
}

#ide {
    display: flex;
    flex-direction: row;
    background: rgb(250, 250, 250);
    padding: 0.5em auto;
    border: 1px solid #ddd;
    height: calc(100% - 8em);
}


#editor-container {
    padding: 2em;
    border: 1px solid #ddd;
    overflow: auto;
    flex-grow: 3;
}

#editor {
    outline: none;
    overflow: auto;
}

#right-panel {
    flex-grow: 2;
}

#preview {
    overflow: auto;
    border: 1px lightgray solid;
    height: 100%;
    width: 100%;
}

.ide [class*="pure-u"] {
    padding: 1em 0;
    border: 1px solid #ddd;
    border-right: none;
    border-bottom: none;
}
