<!DOCTYPE html>
<html>
  <head>
    <title>Editor</title>
    <link rel="stylesheet" href="/stylesheets/editor-style.css"/>
</head>
<body>
    <h1>Editor</h1>
    <div>
        <button id="loader"></button>
        <button id="btn-save">Save</button>
        <button id="btn-preview">Preview</button>
    </div>
    <div id="IDE">
        <div id="editor-container">
            <div id="editor" contenteditable="true" spellcheck="false"></div>
        </div>
        <div id="right-panel">
            <object id='preview' type="text/html" data='/flutter-app'></object>
        </div>
    </div>
    
    <script src="/web_js/editor.js"></script>
  </body>
</html>
