<!DOCTYPE html>
<html>

<head>
    <title>Editor</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/editor-style.css" />
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css"
        integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47"
        crossorigin="anonymous">
</head>

<body>
    <div class="header">
        <div class="title">Editor &nbsp;<small>(</small><small id="sub-title"></small><small>)</small></div>
        <div class="buttons">
            <button id="loader" class="pure-button"></button>
            <button id="btn-save" class="pure-button-primary pure-button">Save</button>
            <button id="btn-preview" class="button-secondary pure-button">Preview</button>
        </div>
    </div>
    <div id="ide">
        <div id="left-panel">
            <div id='doc'>
                <span class='tooltip'>
                    <strong>concerning all events</strong>
                    <span class='tooltip-text'>Qtatements will be applied to all the events</span>
                </span> <br/>
                <span class='tooltip'>
                    <strong>concerning</strong> [events matching preferences / preferences]
                    <span class='tooltip-text'>Statements will be applied the events matching the user's preferences</span>
                </span> <br/>
                <span class='tooltip'>
                    <strong>concerning itinerary steps</strong>
                    <span class='tooltip-text'>Statements will be used to create the itinerary for the user</span>
                </span> <br/>
                <span class='tooltip'>
                    <strong>when</strong> [condition] <strong>then</strong> [action]
                    <span class='tooltip-text'>Executes the action only if the condition is evaluated to true</span>
                </span> <br/>
                <span class='tooltip'>
                    <strong>display</strong>
                    <span class='tooltip-text'>Make the event appear in the app</span>
                </span> <br/>
                <span class='tooltip'>
                    <strong>mark as</strong> [recommended, important]
                    <span class='tooltip-text'>Change the display of the event in the app</span>
                </span> <br/>
                <span class='tooltip'>
                    <strong>&gt;&nbsp;&nbsp;&lt;&nbsp;&nbsp;&equals;&nbsp;&nbsp;&gt;&equals;&nbsp;&nbsp;&lt;&equals;&nbsp;&nbsp;!&equals;</strong>
                    <span class='tooltip-text'>Available symbols for comparing numbers</span>
                </span> <br/>
                <span class='tooltip'>
                    <strong>sport&nbsp;&nbsp;distance&nbsp;&nbsp;tag</strong>
                    <span class='tooltip-text'>Informations available for the events</span>
                </span> <br/>
            </div>
            <div id='config'>
                <span>Some value<input/></span>
            </div>
        </div>
        <div id="editor-container">
            <div id="editor" contenteditable="true" spellcheck="false"></div>
        </div>
        <div id="right-panel">
            <object id='preview' type="text/html" data='/flutter-app'></object>
        </div>
    </div>

    <script src="/web_js/editor.js"></script>
</body>

</html>
